[Unit]
Description=Periodical launch hostblock.service

[Timer]
OnBootSec=15min
OnUnitActiveSec=48h
Unit=hostblock.service

[Install]
WantedBy=timers.target
