[Unit]
Description=Build a new /etc/hosts file

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/hostblock update block merge
ExecStop=/usr/bin/hostblock unblock merge
ExecReload=/usr/bin/hostblock merge
